<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
       http://www.springframework.org/schema/context    
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">

	<context:annotation-config />
	<context:component-scan base-package="com.fenwell.jclub" />

	<bean id="actionHandler" class="com.fenwell.jwell.spi.action.MapperActionHandler">
		<property name="splitChar" value="/" />
		<property name="urlSuffix" value=".action" />
		<property name="charCase" value="false" />
	</bean>

	<!-- 视图默认使用Httl方式 -->
	<bean id="viewHandler" class="com.fenwell.jwell.support.view.HttlViewSupportHandler" />

	<bean id="uploadHandler" class="com.fenwell.jwell.spi.upload.FileUploadHandler" >
		<property name="tmplFile" value="WEB-INF/upload_temp" />
	</bean>

	<bean id="paramHandler" class="com.fenwell.jwell.spi.param.DefaultParamHandler">
		<property name="uploadHandler" ref="uploadHandler" />
	</bean>

	<bean id="myBatisSupport" class="com.fenwell.jwell.mybatis.MyBatisSupport">
		<property name="configuration" value="configuration.xml" />
	</bean>

</beans>  